.btn_card_product {
  width: 100px;
  height: 20px;
  /* float: right; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.btn_card_product .ant-btn {
  height: 28px;
  /* background-color: #ccc; */
}

.btn_card_product {
  margin-top: 30px;
}

.btn_layout_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_add .ant-modal-footer {
  display: none;
}

.ant-modal-content {
  border-radius: 30px;
}

.ant-modal-header {
  border-radius: 30px;
}

.modal_add .ant-modal-footer {
  display: none;
}

.dropdown {
  width: 100px;
  margin-left: 10px;
}

.dropdown .ant-space {
  background-color: #1890ff;
  height: 32px;
  width: 90px;
  color: #fff;
  border-radius: 4px;
  padding: 0 4px;
}
.ant-row {
  background-color: #fff;
}
.site-layout-background {
  background-color: #fff;
}

.ant-col {
  padding-bottom: 10px;
}

.ant-btn {
  margin-right: 10px;
}
.ant-card {
  height: 400px;
}

.img_card {
  width: 240px;
  height: 300px;
}

.btn_layout_header {
  height: 60px;
}

.btn_layout_header .ant-btn {
  width: 100px;
}

.logout {
  margin-left: 10px;
}
.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.images_product {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_product {
  width: 200px;
  height: 200px;
}
