.tb_cpn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.ant-spin-container {
  margin: 20px;
  width: 1000px;
}

.tb_action {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space_tb {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-table-wrapper {
  border: 1px solid #ccc;
  width: 100%;
}

.ant-spin-container {
  width: 97% !important;
}

.site-layout-background {
  padding: 0 !important;
}
